<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Este es el primer job con el que se estara probando la funcionalidad de jenkins</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Bienvenido a Jenkins&quot;
date +&quot;%T&quot;
AHORA=$(date +&quot;%r&quot;)
echo &quot;La hora actual es: $AHORA&quot; &gt; /tmp/ahora.txt
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>